{"openapi":"3.1.0","info":{"title":"HYRE Agent API","version":"2.1.0","description":"AI-enhanced DeFi data API. 24 endpoints with LLM-interpreted insights. Multi-chain x402 payment via PayAI facilitator: Solana (root paths), Base (/base/*), SKALE (/skale/*). All chains use sponsored gas. No API keys — payment is the only gate.","contact":{"url":"https://hyreagent.fun"},"x-guidance":"HYRE Agent provides 24 DeFi intelligence endpoints across 5 segments. Three payment chains supported via x402, all routed through the PayAI facilitator (facilitator.payai.network):\n\n**Solana:** Root paths (/, /trenches/*, /traders/*, etc.). Network solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp. Gas sponsored via PayAI feePayer 2wKupLR9q6wXYppw8Gr2NvWxKBUqm4PPJKkQfoxHDBg4.\n\n**Base:** Prefixed /base/* paths (/base/trenches/*, /base/defi/*, etc.). Network eip155:8453.\n\n**SKALE:** Prefixed /skale/* paths (/skale/trenches/*, /skale/defi/*, etc.). Network eip155:1187947933. Zero gas fees.\n\n**ME Protocol agents (/agents/:name/*):** Each claimed .me agent proxies a subset of the catalog above. Calls to /agents/alice/trenches/verdict/<token> route payment to alice's Asset Signer PDA instead of HYRE's wallet. Template gating rejects endpoints the agent's template does not cover. See the /agents/{name} operation below for details.\n\nAll chains return identical AI-enriched data. Every response includes: data, insight, signal, confidence, model_used, latency_ms.","x-payment-protocols":{"x402-solana":{"facilitator":"https://facilitator.payai.network","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"7G73PLhKvAPBGTzG5ESAE4coE7QrVeTTKfhTxQZbyGgC","asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","basePath":"/"},"x402-base":{"facilitator":"https://facilitator.payai.network","network":"eip155:8453","payTo":"0xb5998e11E666Fd1e7f3B8e8d9122A755eec1E9b7","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","basePath":"/base/"},"x402-skale":{"facilitator":"https://facilitator.payai.network","network":"eip155:1187947933","payTo":"0xb5998e11E666Fd1e7f3B8e8d9122A755eec1E9b7","asset":"0x85889c8c714505E0c94b30fcfcF64fE3Ac8FCb20","basePath":"/skale/"}}},"servers":[{"url":"https://mpp.hyreagent.fun","description":"Production — x402 (base paths) + MPP (/mpp/*)"}],"x-discovery":{"ownershipProofs":[]},"x-examples":{"defi_tvl":{"data":{"total_tvl_usd":102438910000,"top_chains":[{"chain":"ethereum","tvl_usd":58120000000,"change_24h_pct":1.4,"change_7d_pct":-0.6},{"chain":"solana","tvl_usd":12840000000,"change_24h_pct":3.2,"change_7d_pct":8.1},{"chain":"base","tvl_usd":4910000000,"change_24h_pct":0.9,"change_7d_pct":2.4}],"count":3},"insight":"Solana TVL is up 8.1% over the past week — outperforming Ethereum and Base. Yield environment skews toward Solana-native protocols.","signal":"medium_yield","confidence":0.82,"sources":["defillama"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":712,"timestamp":"2026-05-12T15:22:08.412Z"},"defi_yields":{"data":{"pools":[{"pool":"usdc-usdt","project":"kamino-lend","chain":"solana","apy":18.4,"tvl_usd":82100000,"stablecoin":true,"il_risk":"no"},{"pool":"usdc","project":"aave-v3","chain":"ethereum","apy":7.9,"tvl_usd":980200000,"stablecoin":true,"il_risk":"no"},{"pool":"sol-usdc","project":"meteora-dlmm","chain":"solana","apy":41.6,"tvl_usd":14800000,"stablecoin":false,"il_risk":"yes"}],"count":3},"insight":"Kamino USDC/USDT at 18.4% APY on $82M TVL is the standout stablecoin yield — no IL risk and meaningful depth.","signal":"high_yield","confidence":0.88,"sources":["defillama"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":824,"timestamp":"2026-05-12T15:22:18.901Z"},"lp_meteora_pools":{"data":{"pools":[{"address":"5rCf1DM8...sM","name":"SOL-USDC","bin_step":20,"current_price":142.31,"tvl_usd":8420100,"volume_24h":18730000,"fees_24h":9412.3,"apr_pct":40.78},{"address":"GzbFnyA...EZ","name":"JUP-USDC","bin_step":50,"current_price":0.71,"tvl_usd":612800,"volume_24h":2140000,"fees_24h":1071,"apr_pct":63.82}],"total":2,"sort":"apr","filter":{"token":null,"base":null,"quote":null,"min_tvl":null}},"insight":"JUP-USDC offers 63.8% APR but with only $612K TVL — higher IL risk vs SOL-USDC at 40.8% on $8.4M TVL. Match bin_step=20 (SOL-USDC) for tight ranges.","signal":"add_liquidity","confidence":0.79,"sources":["meteora-dlmm"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":1124,"timestamp":"2026-05-12T15:23:01.220Z"},"trenches_new_tokens":{"data":{"tokens":[{"mint":"AaBbCc...11","name":"CatCoin","symbol":"CAT","created_at":"2026-05-12T15:22:42.000Z","dev_wallet":"7G73...yGgC","sol_in_curve":12.4,"curve_progress_pct":14.2,"has_socials":true,"freeze_authority":null,"mint_authority":null}],"count":1},"insight":"CatCoin at 14% bonding curve with renounced freeze + mint and a fresh dev wallet. Early stage; watch for snipe risk in the first 3 blocks.","signal":"watch","confidence":0.71,"sources":["pumpportal"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":938,"timestamp":"2026-05-12T15:22:43.044Z"},"trenches_verdict":{"data":{"mint":"AaBbCc...11","holders":{"top_10_pct":38.2,"dev_pct":4.1,"total_holders":1482},"snipers":{"count_first_3_blocks":14,"top_sniper_concentration_pct":22.6},"authorities":{"freeze":null,"mint":null},"curve":{"progress_pct":64,"sol_in_curve":38.2},"dev_history":{"prior_rugs":0,"prior_graduations":1}},"insight":"64% curve progress with no freeze/mint authority and 14 first-block snipers holding 22.6% — graduation likely within hours but exit liquidity concentrated.","signal":"watch","confidence":0.83,"sources":["solana-rpc","pumpportal"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":2204,"timestamp":"2026-05-12T15:23:30.001Z"}},"components":{"schemas":{"HyreResponse":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight (1-2 sentences)"},"signal":{"type":"string","description":"Decision signal for the caller"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence in the signal"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model that produced the insight"},"latency_ms":{"type":"integer","description":"Total response time in milliseconds"},"timestamp":{"type":"string","format":"date-time"}}}}},"paths":{"/trenches/new-tokens":{"get":{"summary":"Real-time token launches from PumpFun","operationId":"real_time_token_launches_from_pumpfun","description":"Latest PumpFun token creations with AI snipe signal. Signal vocabulary: snipe | watch | avoid. Sources: pumpportal.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10},"description":"Maximum number of results"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","description":"Maximum number of results","default":10}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}},"example":{"data":{"tokens":[{"mint":"AaBbCc...11","name":"CatCoin","symbol":"CAT","created_at":"2026-05-12T15:22:42.000Z","dev_wallet":"7G73...yGgC","sol_in_curve":12.4,"curve_progress_pct":14.2,"has_socials":true,"freeze_authority":null,"mint_authority":null}],"count":1},"insight":"CatCoin at 14% bonding curve with renounced freeze + mint and a fresh dev wallet. Early stage; watch for snipe risk in the first 3 blocks.","signal":"watch","confidence":0.71,"sources":["pumpportal"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":938,"timestamp":"2026-05-12T15:22:43.044Z"}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/trenches/curve/{mint}":{"get":{"summary":"Bonding curve progress for a PumpFun token","operationId":"bonding_curve_progress_for_a_pumpfun_token","description":"Graduation progress, SOL in curve, estimated time. Signal vocabulary: graduate_soon | watch | avoid. Sources: solana-rpc.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.010000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string"},"description":"Token mint address","example":"So11111111111111111111111111111111111111112"},{"name":"curve_key","in":"query","required":false,"schema":{"type":"string"},"description":"Bonding curve account address"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"mint":{"type":"string","description":"Token mint address","example":"So11111111111111111111111111111111111111112"},"curve_key":{"type":"string","description":"Bonding curve account address"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/trenches/token/{mint}":{"get":{"summary":"Token metadata and holder analysis","operationId":"token_metadata_and_holder_analysis","description":"Dev wallet, socials, freeze/mint authority, top holders. Signal vocabulary: watch | avoid. Sources: solana-rpc.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string"},"description":"Token mint address","example":"So11111111111111111111111111111111111111112"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"mint":{"type":"string","description":"Token mint address","example":"So11111111111111111111111111111111111111112"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/trenches/token/{mint}/snipers":{"get":{"summary":"Sniper detection — early buyers in first blocks","operationId":"sniper_detection_early_buyers_in_first_blocks","description":"Wallets that bought in first 3 blocks, risk level. Signal vocabulary: avoid | watch | snipe. Sources: solana-rpc.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.040000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string"},"description":"Token mint address","example":"So11111111111111111111111111111111111111112"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"mint":{"type":"string","description":"Token mint address","example":"So11111111111111111111111111111111111111112"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/trenches/graduating":{"get":{"summary":"Tokens near bonding curve graduation (>85%)","operationId":"tokens_near_bonding_curve_graduation_85","description":"Tokens close to graduating with urgency scores. Signal vocabulary: graduate_soon | watch. Sources: pumpportal, solana-rpc.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.030000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10},"description":"Maximum number of results"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","description":"Maximum number of results","default":10}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/trenches/bags/new-tokens":{"get":{"summary":"New tokens from Bags.fm (Meteora DBC)","operationId":"new_tokens_from_bags_fm_meteora_dbc","description":"Bags.fm token launches with creator info and fee share. Signal vocabulary: snipe | watch | avoid. Sources: bags.fm.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10},"description":"Maximum number of results"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","description":"Maximum number of results","default":10}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/trenches/token/{mint}/verdict":{"get":{"summary":"Full AI verdict combining all data sources","operationId":"full_ai_verdict_combining_all_data_sources","description":"Comprehensive risk assessment: holders, snipers, dev history, curve. Signal vocabulary: snipe | watch | avoid. Sources: solana-rpc, pumpportal.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.150000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string"},"description":"Token mint address","example":"So11111111111111111111111111111111111111112"},{"name":"curve_key","in":"query","required":false,"schema":{"type":"string"},"description":"Bonding curve account address"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"mint":{"type":"string","description":"Token mint address","example":"So11111111111111111111111111111111111111112"},"curve_key":{"type":"string","description":"Bonding curve account address"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}},"example":{"data":{"mint":"AaBbCc...11","holders":{"top_10_pct":38.2,"dev_pct":4.1,"total_holders":1482},"snipers":{"count_first_3_blocks":14,"top_sniper_concentration_pct":22.6},"authorities":{"freeze":null,"mint":null},"curve":{"progress_pct":64,"sol_in_curve":38.2},"dev_history":{"prior_rugs":0,"prior_graduations":1}},"insight":"64% curve progress with no freeze/mint authority and 14 first-block snipers holding 22.6% — graduation likely within hours but exit liquidity concentrated.","signal":"watch","confidence":0.83,"sources":["solana-rpc","pumpportal"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":2204,"timestamp":"2026-05-12T15:23:30.001Z"}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/traders/wallet/{address}/pnl":{"get":{"summary":"Wallet PnL — realized + unrealized","operationId":"wallet_pnl_realized_unrealized","description":"Trading history, portfolio value, win rate assessment. Signal vocabulary: follow | ignore. Sources: solana-rpc, jupiter.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Solana wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Solana wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/traders/wallet/{address}/positions":{"get":{"summary":"Current token holdings with prices","operationId":"current_token_holdings_with_prices","description":"Token positions with entry info and current USD value. Signal vocabulary: accumulate | distribute | ignore. Sources: solana-rpc, jupiter.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.030000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Solana wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Solana wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/traders/top-wallets":{"get":{"summary":"Top performing wallets leaderboard","operationId":"top_performing_wallets_leaderboard","description":"Wallet PnL rankings by period. Signal vocabulary: follow | ignore. Sources: solana-rpc.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string"},"description":"24h or 7d","example":"24h"},{"name":"limit","in":"query","required":false,"schema":{"type":"string"},"description":"Max results","example":"20"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"period":{"type":"string","description":"24h or 7d","example":"24h"},"limit":{"type":"string","description":"Max results","example":"20"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/traders/token/{mint}/whales":{"get":{"summary":"Whale activity — large holders and flows","operationId":"whale_activity_large_holders_and_flows","description":"Top holders, accumulation/distribution signal. Signal vocabulary: accumulate | distribute | ignore. Sources: solana-rpc, jupiter.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.030000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string"},"description":"Token mint address","example":"So11111111111111111111111111111111111111112"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"mint":{"type":"string","description":"Token mint address","example":"So11111111111111111111111111111111111111112"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/traders/token/{mint}/ohlcv":{"get":{"summary":"Price and volume data","operationId":"price_and_volume_data","description":"OHLCV-like metrics with trend analysis. Signal vocabulary: accumulate | distribute | ignore. Sources: solana-rpc, jupiter.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string"},"description":"Token mint address","example":"So11111111111111111111111111111111111111112"},{"name":"interval","in":"query","required":false,"schema":{"type":"string"},"description":"1m|5m|1h|1d","example":"1h"},{"name":"limit","in":"query","required":false,"schema":{"type":"string"},"description":"Data points","example":"24"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"mint":{"type":"string","description":"Token mint address","example":"So11111111111111111111111111111111111111112"},"interval":{"type":"string","description":"1m|5m|1h|1d","example":"1h"},"limit":{"type":"string","description":"Data points","example":"24"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/traders/wallet/{address}/intel":{"get":{"summary":"30-day wallet intelligence profile","operationId":"30_day_wallet_intelligence_profile","description":"Trader archetype, copy-worthiness score, specialty. Signal vocabulary: follow | ignore. Sources: solana-rpc, jupiter.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.120000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Solana wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Solana wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/lp/meteora/pools":{"get":{"summary":"All Meteora DLMM pools with analytics","operationId":"all_meteora_dlmm_pools_with_analytics","description":"Pool list with TVL, volume, fees, APR. Signal vocabulary: add_liquidity | hold. Sources: meteora-dlmm.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.010000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"sort","in":"query","required":false,"schema":{"type":"string"},"description":"apr|volume|tvl","example":"apr"},{"name":"limit","in":"query","required":false,"schema":{"type":"string"},"description":"Max results","example":"50"},{"name":"token","in":"query","required":false,"schema":{"type":"string"},"description":"Filter by token mint"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"sort":{"type":"string","description":"apr|volume|tvl","example":"apr"},"limit":{"type":"string","description":"Max results","example":"50"},"token":{"type":"string","description":"Filter by token mint"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}},"example":{"data":{"pools":[{"address":"5rCf1DM8...sM","name":"SOL-USDC","bin_step":20,"current_price":142.31,"tvl_usd":8420100,"volume_24h":18730000,"fees_24h":9412.3,"apr_pct":40.78},{"address":"GzbFnyA...EZ","name":"JUP-USDC","bin_step":50,"current_price":0.71,"tvl_usd":612800,"volume_24h":2140000,"fees_24h":1071,"apr_pct":63.82}],"total":2,"sort":"apr","filter":{"token":null,"base":null,"quote":null,"min_tvl":null}},"insight":"JUP-USDC offers 63.8% APR but with only $612K TVL — higher IL risk vs SOL-USDC at 40.8% on $8.4M TVL. Match bin_step=20 (SOL-USDC) for tight ranges.","signal":"add_liquidity","confidence":0.79,"sources":["meteora-dlmm"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":1124,"timestamp":"2026-05-12T15:23:01.220Z"}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/lp/meteora/pools/recommend":{"get":{"summary":"AI pool recommendation for a token pair","operationId":"ai_pool_recommendation_for_a_token_pair","description":"Optimal pool + strategy based on criteria. Signal vocabulary: add_liquidity | hold. Sources: meteora-dlmm.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"base","in":"query","required":false,"schema":{"type":"string"},"description":"Base token","example":"SOL"},{"name":"quote","in":"query","required":false,"schema":{"type":"string"},"description":"Quote token","example":"USDC"},{"name":"strategy","in":"query","required":false,"schema":{"type":"string"},"description":"spot|curve|bidask","example":"spot"},{"name":"risk","in":"query","required":false,"schema":{"type":"string"},"description":"low|mid|high","example":"mid"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"base":{"type":"string","description":"Base token","example":"SOL"},"quote":{"type":"string","description":"Quote token","example":"USDC"},"strategy":{"type":"string","description":"spot|curve|bidask","example":"spot"},"risk":{"type":"string","description":"low|mid|high","example":"mid"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/lp/meteora/pools/{address}":{"get":{"summary":"Deep analytics for a specific pool","operationId":"deep_analytics_for_a_specific_pool","description":"OHLCV, volume history, fee breakdown, bin distribution. Signal vocabulary: add_liquidity | hold | remove. Sources: meteora-dlmm.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.030000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Pool address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Pool address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/lp/wallet/{address}/positions":{"get":{"summary":"LP positions for a wallet","operationId":"lp_positions_for_a_wallet","description":"Active LP positions with in-range status and fees. Signal vocabulary: hold | rebalance | remove. Sources: solana-rpc.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.040000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/lp/positions/{id}/rebalance":{"get":{"summary":"Rebalance signal for an LP position","operationId":"rebalance_signal_for_an_lp_position","description":"Whether to rebalance with suggested new range. Signal vocabulary: rebalance | hold. Sources: solana-rpc, meteora-dlmm.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.100000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Position ID","example":"position-id-here"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Position ID","example":"position-id-here"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/lp/meteora/pools/strategy":{"get":{"summary":"Full LP strategy brief","operationId":"full_lp_strategy_brief","description":"Best pool + strategy + range + expected APR for given capital. Signal vocabulary: add_liquidity | hold. Sources: meteora-dlmm.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.200000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"token_pair","in":"query","required":false,"schema":{"type":"string"},"description":"e.g. SOL-USDC"},{"name":"capital_usdc","in":"query","required":false,"schema":{"type":"string"},"description":"Capital in USD","example":"1000"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"token_pair":{"type":"string","description":"e.g. SOL-USDC"},"capital_usdc":{"type":"string","description":"Capital in USD","example":"1000"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/defi/tvl":{"get":{"summary":"Total Value Locked across chains","operationId":"total_value_locked_across_chains","description":"Chain TVL rankings with trend narrative. Signal vocabulary: high_yield | medium_yield | low_yield | risky. Sources: defillama.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.010000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"chain","in":"query","required":false,"schema":{"type":"string"},"description":"solana|ethereum|all","example":"all"},{"name":"limit","in":"query","required":false,"schema":{"type":"string"},"description":"Max results","example":"20"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"chain":{"type":"string","description":"solana|ethereum|all","example":"all"},"limit":{"type":"string","description":"Max results","example":"20"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}},"example":{"data":{"total_tvl_usd":102438910000,"top_chains":[{"chain":"ethereum","tvl_usd":58120000000,"change_24h_pct":1.4,"change_7d_pct":-0.6},{"chain":"solana","tvl_usd":12840000000,"change_24h_pct":3.2,"change_7d_pct":8.1},{"chain":"base","tvl_usd":4910000000,"change_24h_pct":0.9,"change_7d_pct":2.4}],"count":3},"insight":"Solana TVL is up 8.1% over the past week — outperforming Ethereum and Base. Yield environment skews toward Solana-native protocols.","signal":"medium_yield","confidence":0.82,"sources":["defillama"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":712,"timestamp":"2026-05-12T15:22:08.412Z"}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/defi/yields":{"get":{"summary":"Top yield pools multi-chain","operationId":"top_yield_pools_multi_chain","description":"Best yield opportunities sorted by APY. Signal vocabulary: high_yield | medium_yield | low_yield | risky. Sources: defillama.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"chain","in":"query","required":false,"schema":{"type":"string"},"description":"Chain filter","example":"all"},{"name":"stablecoin","in":"query","required":false,"schema":{"type":"string"},"description":"true to filter stablecoins"},{"name":"min_apy","in":"query","required":false,"schema":{"type":"string"},"description":"Minimum APY %"},{"name":"limit","in":"query","required":false,"schema":{"type":"string"},"description":"Max results","example":"20"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"chain":{"type":"string","description":"Chain filter","example":"all"},"stablecoin":{"type":"string","description":"true to filter stablecoins"},"min_apy":{"type":"string","description":"Minimum APY %"},"limit":{"type":"string","description":"Max results","example":"20"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}},"example":{"data":{"pools":[{"pool":"usdc-usdt","project":"kamino-lend","chain":"solana","apy":18.4,"tvl_usd":82100000,"stablecoin":true,"il_risk":"no"},{"pool":"usdc","project":"aave-v3","chain":"ethereum","apy":7.9,"tvl_usd":980200000,"stablecoin":true,"il_risk":"no"},{"pool":"sol-usdc","project":"meteora-dlmm","chain":"solana","apy":41.6,"tvl_usd":14800000,"stablecoin":false,"il_risk":"yes"}],"count":3},"insight":"Kamino USDC/USDT at 18.4% APY on $82M TVL is the standout stablecoin yield — no IL risk and meaningful depth.","signal":"high_yield","confidence":0.88,"sources":["defillama"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":824,"timestamp":"2026-05-12T15:22:18.901Z"}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/debridge/quote":{"get":{"summary":"Cross-chain swap quote with LLM verdict","operationId":"cross_chain_swap_quote_with_llm_verdict","description":"Bridge route quote from deBridge DLN, enriched with route quality verdict from LLM. Signal vocabulary: execute | wait | avoid. Sources: debridge.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"src","in":"query","required":false,"schema":{"type":"string"},"description":"Source chain (solana|arbitrum|ethereum|base|...)","example":"solana"},{"name":"dst","in":"query","required":false,"schema":{"type":"string"},"description":"Destination chain","example":"arbitrum"},{"name":"token","in":"query","required":false,"schema":{"type":"string"},"description":"Token symbol (USDC only in v1)","example":"USDC"},{"name":"amount","in":"query","required":false,"schema":{"type":"string"},"description":"Human-readable amount","example":"100"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"src":{"type":"string","description":"Source chain (solana|arbitrum|ethereum|base|...)","example":"solana"},"dst":{"type":"string","description":"Destination chain","example":"arbitrum"},"token":{"type":"string","description":"Token symbol (USDC only in v1)","example":"USDC"},"amount":{"type":"string","description":"Human-readable amount","example":"100"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/debridge/yield-migrate":{"get":{"summary":"Cross-chain yield migration advisor","operationId":"cross_chain_yield_migration_advisor","description":"Compares your stablecoin pool against alternatives across chains, factoring in deBridge bridge cost and break-even days. Returns the best migration if any beats your current position.. Signal vocabulary: migrate | stay | wait. Sources: debridge, defillama.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"parameters":[{"name":"src","in":"query","required":false,"schema":{"type":"string"},"description":"Source chain where your stablecoin sits","example":"solana"},{"name":"token","in":"query","required":false,"schema":{"type":"string"},"description":"Token symbol (USDC only in v1)","example":"USDC"},{"name":"amount","in":"query","required":false,"schema":{"type":"string"},"description":"Amount in human units, e.g. \"10000\"","example":"100"},{"name":"min_tvl_usd","in":"query","required":false,"schema":{"type":"string"},"description":"Minimum pool TVL filter in USD","example":"10000000"},{"name":"whitelist","in":"query","required":false,"schema":{"type":"string"},"description":"Set \"false\" to disable protocol whitelist","example":"true"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"src":{"type":"string","description":"Source chain where your stablecoin sits","example":"solana"},"token":{"type":"string","description":"Token symbol (USDC only in v1)","example":"USDC"},"amount":{"type":"string","description":"Amount in human units, e.g. \"10000\"","example":"100"},"min_tvl_usd":{"type":"string","description":"Minimum pool TVL filter in USD","example":"10000000"},"whitelist":{"type":"string","description":"Set \"false\" to disable protocol whitelist","example":"true"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/agents/{name}/{proxied_path}":{"get":{"summary":"Per-agent proxy (dynamic)","operationId":"me_agent_proxy","description":"Dispatch a paid call scoped to a registered .me agent. `{name}` must be an active agent (see POST /agents/register). `{proxied_path}` is any of the catalog routes (e.g. `trenches/token/<mint>/verdict`). The path is matched against the agent's template allowlist: trench-hunter → /trenches/*; lp-strategist → /lps/*; trader-copy → /traders/*; defi-yield → /defi/* + /debridge/*; yield-farmer → /defi/* + /lps/*; nft-minter → none; custom → all. Unmatched paths return 403. Payment (x402 USDC on Solana) is routed to the agent owner's Asset Signer PDA, not the HYRE main wallet, so 100% of gross lands with the claimer before HYRE's off-chain infra-cost accounting. Every call is logged to `me_agent_events` keyed on the agent name and surfaced via GET /me-agent-stats/:name.","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string","pattern":"^[a-z][a-z0-9-]{1,31}$"},"description":"Agent name (without the .me suffix)."},{"name":"proxied_path","in":"path","required":true,"schema":{"type":"string"},"description":"One of the catalog routes (e.g. trenches/token-verdict)."}],"responses":{"200":{"description":"Downstream 2xx — identical shape to the proxied endpoint (HyreResponse)."},"402":{"description":"Payment required — standard x402 challenge. Pay to the agent's Asset Signer PDA."},"403":{"description":"Template does not allow this endpoint for this agent."},"404":{"description":"Agent not registered or status != active."}}}},"/agents/register":{"post":{"summary":"Register or update a ME Protocol agent","operationId":"me_agent_register","description":"Called by the ME Protocol frontend after the claim flow completes (Solana NFT mint + SKALE ERC-8004 registration). Upserts a row into me_agents. Idempotent for the same (name, ownerWallet); 409 if another wallet owns the name. Requires `Authorization: Bearer <ME_PROTOCOL_API_KEY>`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","templateId","ownerWallet"],"properties":{"name":{"type":"string","pattern":"^[a-z][a-z0-9-]{1,31}$"},"templateId":{"type":"string","enum":["trench-hunter","lp-strategist","trader-copy","defi-yield","nft-minter","yield-farmer","custom"]},"ownerWallet":{"type":"string","description":"Solana pubkey of the claimer (base58)."},"assetAddress":{"type":"string","nullable":true,"description":"Metaplex Core asset mint."},"assetSignerPda":{"type":"string","nullable":true,"description":"Precomputed PDA — payout recipient for all paid calls."},"manifestUrl":{"type":"string","nullable":true,"format":"uri","description":"Irys gateway URL."},"skaleAgentId":{"type":"string","nullable":true,"description":"ERC-8004 tokenId on SKALE."}}},"example":{"name":"alpha-hunter","templateId":"trench-hunter","ownerWallet":"11111111111111111111111111111111"}}}},"responses":{"200":{"description":"Updated existing agent."},"201":{"description":"Created new agent."},"400":{"description":"Validation error."},"401":{"description":"Missing or invalid bearer token."},"409":{"description":"Name already claimed by a different wallet."},"503":{"description":"ME_PROTOCOL_API_KEY not configured on this deployment."}}}},"/ask":{"post":{"summary":"Natural language DeFi query","description":"Ask any DeFi question. LLM orchestrates multiple data sources to answer.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{"network":"solana","facilitator":"https://facilitator.payai.network"}},{"mpp":{"method":"solana","intent":"charge","currency":"USDC"}}]},"operationId":"natural_language_defi_query","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["query"],"properties":{"query":{"type":"string","description":"Natural language DeFi question"}}},"example":{"query":"What are the top whales on bonk in the last 24h?"}}}},"responses":{"200":{"description":"LLM-enriched answer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HyreResponse"}}}},"402":{"description":"Payment required"}}}},"/base/trenches/new-tokens":{"get":{"summary":"Real-time token launches from PumpFun","operationId":"real_time_token_launches_from_pumpfun","description":"[Base] Latest PumpFun token creations with AI snipe signal. Signal vocabulary: snipe | watch | avoid. Sources: pumpportal.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{"network":"eip155:8453","facilitator":"https://facilitator.payai.network"}}]},"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10},"description":"Maximum number of results"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","description":"Maximum number of results","default":10}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}},"example":{"data":{"tokens":[{"mint":"AaBbCc...11","name":"CatCoin","symbol":"CAT","created_at":"2026-05-12T15:22:42.000Z","dev_wallet":"7G73...yGgC","sol_in_curve":12.4,"curve_progress_pct":14.2,"has_socials":true,"freeze_authority":null,"mint_authority":null}],"count":1},"insight":"CatCoin at 14% bonding curve with renounced freeze + mint and a fresh dev wallet. Early stage; watch for snipe risk in the first 3 blocks.","signal":"watch","confidence":0.71,"sources":["pumpportal"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":938,"timestamp":"2026-05-12T15:22:43.044Z"}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/base/trenches/curve/{mint}":{"get":{"summary":"Bonding curve progress for a PumpFun token","operationId":"bonding_curve_progress_for_a_pumpfun_token","description":"[Base] Graduation progress, SOL in curve, estimated time. Signal vocabulary: graduate_soon | watch | avoid. Sources: solana-rpc.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.010000"},"protocols":[{"x402":{"network":"eip155:8453","facilitator":"https://facilitator.payai.network"}}]},"parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string"},"description":"Token mint address","example":"So11111111111111111111111111111111111111112"},{"name":"curve_key","in":"query","required":false,"schema":{"type":"string"},"description":"Bonding curve account address"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"mint":{"type":"string","description":"Token mint address","example":"So11111111111111111111111111111111111111112"},"curve_key":{"type":"string","description":"Bonding curve account address"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/base/trenches/token/{mint}":{"get":{"summary":"Token metadata and holder analysis","operationId":"token_metadata_and_holder_analysis","description":"[Base] Dev wallet, socials, freeze/mint authority, top holders. Signal vocabulary: watch | avoid. Sources: solana-rpc.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{"network":"eip155:8453","facilitator":"https://facilitator.payai.network"}}]},"parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string"},"description":"Token mint address","example":"So11111111111111111111111111111111111111112"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"mint":{"type":"string","description":"Token mint address","example":"So11111111111111111111111111111111111111112"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/base/trenches/token/{mint}/snipers":{"get":{"summary":"Sniper detection — early buyers in first blocks","operationId":"sniper_detection_early_buyers_in_first_blocks","description":"[Base] Wallets that bought in first 3 blocks, risk level. Signal vocabulary: avoid | watch | snipe. Sources: solana-rpc.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.040000"},"protocols":[{"x402":{"network":"eip155:8453","facilitator":"https://facilitator.payai.network"}}]},"parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string"},"description":"Token mint address","example":"So11111111111111111111111111111111111111112"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"mint":{"type":"string","description":"Token mint address","example":"So11111111111111111111111111111111111111112"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/base/trenches/graduating":{"get":{"summary":"Tokens near bonding curve graduation (>85%)","operationId":"tokens_near_bonding_curve_graduation_85","description":"[Base] Tokens close to graduating with urgency scores. Signal vocabulary: graduate_soon | watch. Sources: pumpportal, solana-rpc.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.030000"},"protocols":[{"x402":{"network":"eip155:8453","facilitator":"https://facilitator.payai.network"}}]},"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10},"description":"Maximum number of results"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","description":"Maximum number of results","default":10}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/base/trenches/bags/new-tokens":{"get":{"summary":"New tokens from Bags.fm (Meteora DBC)","operationId":"new_tokens_from_bags_fm_meteora_dbc","description":"[Base] Bags.fm token launches with creator info and fee share. Signal vocabulary: snipe | watch | avoid. Sources: bags.fm.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{"network":"eip155:8453","facilitator":"https://facilitator.payai.network"}}]},"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10},"description":"Maximum number of results"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","description":"Maximum number of results","default":10}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/base/trenches/token/{mint}/verdict":{"get":{"summary":"Full AI verdict combining all data sources","operationId":"full_ai_verdict_combining_all_data_sources","description":"[Base] Comprehensive risk assessment: holders, snipers, dev history, curve. Signal vocabulary: snipe | watch | avoid. Sources: solana-rpc, pumpportal.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.150000"},"protocols":[{"x402":{"network":"eip155:8453","facilitator":"https://facilitator.payai.network"}}]},"parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string"},"description":"Token mint address","example":"So11111111111111111111111111111111111111112"},{"name":"curve_key","in":"query","required":false,"schema":{"type":"string"},"description":"Bonding curve account address"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"mint":{"type":"string","description":"Token mint address","example":"So11111111111111111111111111111111111111112"},"curve_key":{"type":"string","description":"Bonding curve account address"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}},"example":{"data":{"mint":"AaBbCc...11","holders":{"top_10_pct":38.2,"dev_pct":4.1,"total_holders":1482},"snipers":{"count_first_3_blocks":14,"top_sniper_concentration_pct":22.6},"authorities":{"freeze":null,"mint":null},"curve":{"progress_pct":64,"sol_in_curve":38.2},"dev_history":{"prior_rugs":0,"prior_graduations":1}},"insight":"64% curve progress with no freeze/mint authority and 14 first-block snipers holding 22.6% — graduation likely within hours but exit liquidity concentrated.","signal":"watch","confidence":0.83,"sources":["solana-rpc","pumpportal"],"model_used":"anthropic/claude-3.5-haiku","latency_ms":2204,"timestamp":"2026-05-12T15:23:30.001Z"}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/base/traders/wallet/{address}/pnl":{"get":{"summary":"Wallet PnL — realized + unrealized","operationId":"wallet_pnl_realized_unrealized","description":"[Base] Trading history, portfolio value, win rate assessment. Signal vocabulary: follow | ignore. Sources: solana-rpc, jupiter.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{"network":"eip155:8453","facilitator":"https://facilitator.payai.network"}}]},"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Solana wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Solana wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/base/traders/wallet/{address}/positions":{"get":{"summary":"Current token holdings with prices","operationId":"current_token_holdings_with_prices","description":"[Base] Token positions with entry info and current USD value. Signal vocabulary: accumulate | distribute | ignore. Sources: solana-rpc, jupiter.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.030000"},"protocols":[{"x402":{"network":"eip155:8453","facilitator":"https://facilitator.payai.network"}}]},"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Solana wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Solana wallet address","example":"vhu9Nc7EQi6dpvk9R6GyrDjgrgnR2oyfRAeeYVmQCAp"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/base/traders/top-wallets":{"get":{"summary":"Top performing wallets leaderboard","operationId":"top_performing_wallets_leaderboard","description":"[Base] Wallet PnL rankings by period. Signal vocabulary: follow | ignore. Sources: solana-rpc.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{"network":"eip155:8453","facilitator":"https://facilitator.payai.network"}}]},"parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string"},"description":"24h or 7d","example":"24h"},{"name":"limit","in":"query","required":false,"schema":{"type":"string"},"description":"Max results","example":"20"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"period":{"type":"string","description":"24h or 7d","example":"24h"},"limit":{"type":"string","description":"Max results","example":"20"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string","nullable":true,"description":"AI-generated actionable insight"},"signal":{"type":"string","description":"Decision signal (e.g. snipe, watch, avoid, follow, rebalance)"},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"LLM confidence score"},"sources":{"type":"array","items":{"type":"string"},"description":"Data sources used"},"model_used":{"type":"string","nullable":true,"description":"LLM model name"},"latency_ms":{"type":"integer","description":"Response time in ms"},"timestamp":{"type":"string","format":"date-time"}}}}}},"206":{"description":"Partial — raw data without LLM insight (all models failed)"},"402":{"description":"Payment Required","headers":{"WWW-Authenticate":{"description":"Payment challenge","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer","example":402},"detail":{"type":"string"},"challengeId":{"type":"string"}}}}}}}}},"/base/traders/token/{mint}/whales":{"get":{"summary":"Whale activity — large holders and flows","operationId":"whale_activity_large_holders_and_flows","description":"[Base] Top holders, accumulation/distribution signal. Signal vocabulary: accumulate | distribute | ignore. Sources: solana-rpc, jupiter.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.030000"},"protocols":[{"x402":{"network":"eip155:8453","facilitator":"https://facilitator.payai.network"}}]},"parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string"},"description":"Token mint address","example":"So11111111111111111111111111111111111111112"},{"name":"Authorization","in":"query","required":false,"schema":{"type":"string"},"description":"MPP payment credential. Omit on first call to receive 402 challenge."}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"mint":{"type":"string","description":"Token mint address","example":"So11111111111111111111111111111111111111112"}}}}}},"responses":{"200":{"description":"LLM-enriched response","headers":{"Payment-Receipt":{"description":"MPP payment receipt","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Structured data from upstream sources"},"insight":{"type":"string
[...]
